
.register {
	padding-top: 100px !important;

	& .column {
	    max-width: 500px;
	}

	&--header {
		background-color: $register-header-color !important;
		color: white !important;
	}

	&--img {
		max-width: 90px;
	}
}